<h1><%= @options[:path] %></h1>

<%% if t('api_doc.page.header.<%= @options[:slug] %>', default: '').present? %>
<div class='well' style="margin-top: 10px;"><%%= t 'api_doc.page.header.<%= @options[:slug] %>', default: '' %></div>
<%% end %>

<%% if t('api_doc.roles.<%= @options[:slug] %>.<%= @request.method.downcase %>', default: 'Anyone can performed this action.').present? %>
<div class='' style="margin-top: 10px;">Roles Required: <%%= t('api_doc.roles.<%= @options[:slug] %>.<%= @request.method.downcase %>', default: 'All') %></div>
<%% end %>

<% if @options[:meta].present? %>
  <!-- meta: -->
  <div class="page-header">
    <h1>Details</h1>
  </div>
  <% if @options[:meta][:header].present? %>
    <p>
      <%= @options[:meta][:header] %>
    </p>
  <% end %>
  <% if @options[:meta][:options].present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% @options[:meta][:options].each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<!-- request: -->
<div class="page-header">
  <h1><%%= t "api_doc.request.header" %></h1>
</div>

<h2><%= @request.method %> <%= @request.path_info %></h2>
<h3>Status: <%= @response.status %></h3>
<% unless request_params.blank? %>
<h3>Parameters</h3>
<pre class="prettyprint">
?<%= request_params %>
</pre>
<% end %>
<% if request_headers.present? %>
<h3>Headers:</h3>
<pre class="prettyprint">
<%= request_headers %>
</pre>
<% end %>
<h3>Body</h3>
<pre class="prettyprint">
<%= request_json %>
</pre>

<!-- response: -->
<div class="page-header">
  <h1><%%= t "api_doc.response.header" %></h1>
</div>
<% if @response.headers.present? %>
<h3>Headers:</h3>
<pre class="prettyprint">
<%= response_headers %>
</pre>
<% end %>

<h3>Body</h3>
<pre class="prettyprint">
<%= response_json %>
</pre>