<h1><%= @options[:path] %></h1>

<%% unless tr("<%= @options[:slug] %>", :header).blank? %>
<div class='well' style="margin-top: 10px;"><%%= tr("<%= @options[:slug] %>", :header) %></div>
<%% end %>

<%% unless tr('<%= @options[:slug] %>', :description).blank? %>
<div class='description' style="margin-top: 10px;"><%%= tr('<%= @options[:slug] %>', :description) %></div>
<%% end %>

<div class='well' style="margin-top: 10px;">
  <strong>Requires Authentication:</strong> <%%= tr('<%= @options[:slug] %>', :authentication) %><br/>
  <strong>Roles Required:</strong> <%%= tr('<%= @options[:slug] %>', :roles) %>
</div>

<!-- request: -->
<div class="page-header">
  <h1><%%= tr('<%= @options[:slug] %>', :request, :header) %></h1>
</div>

<%% unless tr('<%= @options[:slug] %>', :request, :description).blank? %>
<div class='request-description' style="margin-top: 10px;"><%%= tr('<%= @options[:slug] %>', :request, :description) %></div>
<%% end %>

<h2><%= @request.method %> <%= @request.path_info %></h2>
<% if @request.method == 'GET' && !request_params.blank? %>
<h3>Parameters</h3>
<pre class="prettyprint">
?<%= request_params %>
</pre>
<% end %>
<% if request_headers.present? %>
<h3>Headers:</h3>
<pre class="prettyprint">
<%= request_headers %>
</pre>
<% end %>
<h3>Body</h3>
<pre class="prettyprint">
<%= request_json %>
</pre>

<!-- response: -->
<div class="page-header">
  <h1><%%= tr('<%= @options[:slug] %>', :response, :header) %></h1>
  <h3>Status: <%= @response.status %></h3>
</div>

<%% unless tr('<%= @options[:slug] %>', :request, :description).blank? %>
<div class='response-description' style="margin-top: 10px;"><%%= tr('<%= @options[:slug] %>', :request, :description) %></div>
<%% end %>

<% if @response.headers.present? %>
<h3>Headers:</h3>
<pre class="prettyprint">
<%= response_headers %>
</pre>
<% end %>

<h3>Body</h3>
<pre class="prettyprint">
<%= response_json %>
</pre>